nav {
    position: absolute;
    top: 5%;
    max-width: 90%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.currTitle {
    margin: 0 0 10px 0;
    max-width: 90%;
    width: 1000px;
    transition: 0.5s ease;
}

.line {
    max-width: 90%;
    width: 1000px;
    height: 2px;
    background-color: black;
}

.text {
    margin: 10px 0 0 0;
    max-width: 90%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.text h4 {
    font-size: 20px;
}

.iconTextLeft, .iconTextRight {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    transition: 0.5s ease;
}

.iconTextRight {
    flex-direction: row-reverse;
}

.navIcon {
    cursor: pointer;
    transition: 0.3s ease;
    padding: 2px;
    border-radius: 5px;
}

.navIcon:hover {
    color: white;
    background-color: rgb(232, 183, 130);
}

.opacity {
    opacity: 0%;
}
